body {
  background-color: rgb(44, 62, 80);
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 2em;
}

ul.social-media-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  margin-top: 40px;
  padding: 0px;
}

ul.social-media-list li {
  list-style: none;
  padding: 0px;
}

  ul.social-media-list li a{
    text-decoration: none;
    color: #fff;
  }

    ul.social-media-list li a:hover{
      text-shadow: 0px 0px 15px #fff;
    }

  footer {
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      bottom: 0px;
      width: 100%;
      text-align: center;
      overflow: hidden;
  }
  
    footer div.border {
      width: 60px;
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      border-top: 1px solid;
    }
  
    footer address {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 100;
      position: relative;
      margin-bottom: 10px;
      margin-top: 5px;
      text-decoration: none;
      left: 50%;
      transform: translateX(-50%);
      padding: 0px 10px;
      width: 50%;
      
    }

@media only screen and (max-width: 470px) {
div.container{
  max-width: calc(100% - 60px);
  top: calc(50% - 50px);
}

h1 {
  font-size: 2em;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1.5em;
}

ul.social-media-list {
  margin-top: 30%;
  width: 80%;
}
}